<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Agrabah 2.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <!-- add here the search implementation
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>

<div class="container">
  <h3>Recipie</h3>
  <p>Id: {{recipe?.id}}</p>
  <p>Name: {{recipe?.name}}</p>
  <p>Description: {{recipe?.description}}</p>

  <!--<div *ngIf="recipe">-->
  <h3>Recipie Details with Observable </h3>
  <div>
    <div>
      <label>Id: </label>
      <input [(ngModel)]="recipe.id" />
    </div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="recipe.name" />
    </div>
    <div>
      <label>Steps: </label>
      <input [(ngModel)]="recipe.steps" />
    </div>
    <div>
      <button (click)="addRecipe()">Add</button>
    </div>
  </div>
  <div *ngIf="recipeName" [ngClass] = "'success'"> {{bookRecipe}} Added. </div>
  <div *ngIf="errorMessage" [ngClass] = "'error'"> {{errorMessage}} </div>

  </div>
<!--</div>-->
